.ace {
    color: #2850AD;
}

.bdfm {
    color: #FF6319;
}

.g {
    color: #6CBE45;
}

.jz {
    color: #996633;
}

.l {
    color: #A7A9AC;
}

.nqr {
    color: #FCCC0A;
}

.onetwothree {
    color: #EE352E;
}

.fourfivesix {
    color: #00933C;
}

.seven {
    color: #B933AD;
}